.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;
}

.heroSection {
  text-align: center;
  margin-bottom: 60px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.searchInput {
  flex-grow: 1;
  padding: 15px 15px 15px 45px;
  border: 2px solid #1C4A2A;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.searchButton {
  padding: 15px 24px;
  background-color: #1C4A2A;
  color: #FFFFFF;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.resultsSection {
  margin-top: 40px;
}

.resultsTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.resultsSubtitle {
  margin-bottom: 20px;
}

.contentWrapper {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.applyButton {
  color: white;
  background: #1C4A2A;
  border: none;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}

.doctorList {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


@media (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .doctorList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .searchWrapper {
    flex-direction: column;
  }

  .searchInput {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .searchButton {
    width: 100%;
    border-radius: 10px;
  }

  .sidebar {
    flex-direction: column;
  }

  .doctorList {
    grid-template-columns: 1fr;
  }
}